@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @keyframes colorChange {
        0%{background: red;}
        14%{background: orange;}
        28%{background: yellow;}
        42%{background: green;}
        57%{background: blue;}
        71%{background: indigo;}
        85%{background: violet;}
        100%{background: red;}
    }

    .color-change {
        animation: colorChange 10s infinite;
    }

    @keyframes flying {
        0% {top: 0; right: 0;}
        100% {top: 100%; right: 100%;}
    }

    .flying-img {
        animation: flying 2s infinite alternate ease;
    }

}